# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python trash
__pychache__
*.pyc
accounts.json

data/lsms/raw/
ohsome_log
data/countries_meta/counties_lsms_time_valid.csv
data/lsms/processed/_all_nominal.csv
data/lsms/processed/TZA_2014.csv
figs/cross_country_pooled_timetravel.pdf
figs/cross_country_pooled.pdf
figs/ETH_2013_clusters.pdf
figs/ETH_2015_clusters.pdf
figs/ETH_2018_clusters.pdf
figs/ETH_2018_cnnosm_GradientBoostingRegressor.pdf
figs/ETH_2018_cnnosm_Ridge.pdf
figs/ETH_2018_cnnosm.pdf
figs/MW_2016_clusters.pdf
figs/MW_2019_clusters.pdf
figs/MW_2019_cnnosm_GradientBoostingRegressor.pdf
figs/MW_2019_cnnosm_Ridge.pdf
figs/MW_2019_cnnosm.pdf
figs/NG_2012_clusters.pdf
figs/NG_2015_clusters.pdf
figs/NG_2018_clusters.pdf
figs/NG_2018_cnnosm_GradientBoostingRegressor.pdf
figs/NG_2018_cnnosm_Ridge.pdf
figs/NG_2018_cnnosm.pdf
figs/pcc_hist.pdf
figs/pooled_max_year.pdf
figs/pooled_percentile.pdf
figs/rural_urban_pop.pdf
figs/TZA_2012_clusters.pdf
figs/TZA_2014_clusters.pdf
figs/TZA_2014_cnnosm_GradientBoostingRegressor.pdf
figs/TZA_2014_cnnosm_Ridge.pdf
figs/TZA_2014_cnnosm.pdf